// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: "Nunito",
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$grey: #f7f7f7;
$white: #ffffff;
$pink: #c75ba1;
$bg: #efefef;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;